body{
	background-color: rgb(75, 54, 92);
}

.nav{
	background-color: white;	
}

.footer{
	background-color: white;	
}

.badge{
	background-color: white;
}

.text{
	color: black;
}

.chefbg{
 background-image: url("/img/chefs.jpg");
 background-repeat: no-repeat;
}