<!DOCTYPE html>
<html>
<head th:fragment="headerfiles(title)">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/style.css">		
	<title th:text="${title}"></title>	
</head>

<body>
	<header>
	<nav class=" rounded nav navbar navbar-expand-lg bg-light py-3 mb-4 mx-5" th:fragment="navbar">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Catering</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ">
					<li><a href="/" class="nav-link link-dark px-4 ">Home</a></li>
					<li><a href="/" th:href = @{/buffet/all} class="nav-link px-4 link-dark">Buffet</a></li>
					<li><a href="/" th:href = @{/chef/all} class="nav-link px-4 link-dark">Chef</a></li>
					
						<li><a sec:authorize="!isAuthenticated()" type="button" class="btn btn-outline-primary me-2" href="/" th:href = @{/login}>Login</a></li>
					<li><a sec:authorize="!isAuthenticated()" type="button" class="btn btn-primary " href="/" th:href = @{/register}>Sign-up</a></li>
						<li><a sec:authorize="isAuthenticated()" type="button" class="btn btn-primary" href="/" th:href = @{/logout}>Logout</a></li>
					
					
			</ul>
		</div>
	</div>
</nav>
	</header>


<div class="footer container rounded" th:fragment="footer">
	<footer class="py-3 my-4">
		<p class="text-center text-muted">&copy; Made by Valerio Ribaldi</p>
	</footer>
</div>

</body>
</html>